@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
@import url('https://fonts.cdnfonts.com/css/lt-binary-neue');
@import url('https://fonts.cdnfonts.com/css/monalisa-serif');

body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #3b4252;
    color: #d8dee9;
    margin: 10px;
    padding: 10px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #eceff4;
    margin-bottom: 10px;
}

a {
    color: #88c0d0;
    text-decoration: none;
    font-family: 'LT Binary Neue', sans-serif;
    font-family: 'LT Binary Neue Round', sans-serif;
}

a:hover {
    text-decoration: underline;
    color: #81a1c1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

button {
    background-color: #5e81ac;
    color: #eceff4;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
}

button:hover {
    background-color: #81a1c1;
}

pre,
code {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 0.95rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3b4252;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.container h1,
.container h2 {
    margin-top: 0;
}

.container a {
    color: #88c0d0;
}

.container a:hover {
    color: #81a1c1;
}

/*header {*/
/*    background-color: #4c566a;*/
/*    padding: 10px 20px;*/
/*    color: #eceff4;*/
/*    text-align: center;*/
/*    border-bottom: 2px solid #5e81ac;*/
/*}*/

footer {
    background-color: #4c566a;
    padding: 10px 20px;
    text-align: center;
    color: #d8dee9;
    font-size: 0.85rem;
    margin-top: 20px;
}

/*.license {*/
/*    text-align: center;*/
/*    justify-content: center;*/
/*}*/

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: 'JetBrains Mono', sans-serif;
}

hr {
    border: none;
    border-top: 2px dashed #ccc;
    background: none;
    height: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3b4252;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #81a1c1;
    border-radius: 10px;
    border: 2px solid #3b4252;
}

::-webkit-scrollbar-thumb:hover {
    background: #88c0d0;
}

strong {
    display: block;
    background-color: #4c566a;
    color: #eceff4;
    border-left: 5px solid #bf616a;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.warn {
    font-family: monospace !important;
    background-color: #3b4252;
    padding: 4px;
    border-radius: 5px;
}
